<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todolist">

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true">
    </supports-screens>

    <application
        android:name=".Home"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Team Notes"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BusinessEditTaskActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BusinessNewTaskActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BusinessMainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".JoinTeamActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CreateTeamActivity" android:screenOrientation="portrait"/>
        <activity android:name=".BusinessChoiceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AccountChoiceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".UserProfileData" android:screenOrientation="portrait"/>
        <activity android:name=".FirstInstallActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EditTaskDesk" android:screenOrientation="portrait"/>
        <activity android:name=".NewTaskAct" android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity" android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>